<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DashBoard Versões</title>
    <script src="/login/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/login/css/bootstrap.min.css" type="text/css">
    <script src="/login/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/login/css/style.css" type="text/css">
    <link rel="icon" type="image/ico" href="/login/img/favicon.ico">
</head>
<body class="body">

<div id="myCarousel" class="carousel slide panel panel-heading form-group" data-ride="carousel">
    <div id="thumbCarousel" class="carousel slide">
    </div>
</div>

</body>
</html>
